<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>갤러리 상세보기</title>
</head>
<body>

<img th:src="${post.getFilepath()}" th:width="600" alt="">

<br><br>

<p th:text = "${post.getDate()}"></p>
<p th:text="${post.getPhotographer()}"></p>
<p th:text="${post.getCaption()}"></p>
<p th:text = "${post.getSnslink()}"></p>
<!--light 반환값도 색으로 받아야 함...db엔 저장되어 있음-->

<!-- <a th:href = "@{/post/delete(id=${post.id})}">글삭제</a>-->
<button onclick="location.href=''"> 다음 </button>
</body>
</html>