<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>post 작성폼</title>
</head>
<style>
  .layout{
    width :500px;
    margin : 0 auto;
    margin-top: 40px;
  }

  .layout input {
    width : 100%;
    box-sizing: border-box;
    margin-top: 15px;
  }

  .layout textarea {
    width : 100%;
    margin-top: 10px;
    min-height: 200px;
  }
</style>

<body>
<div class ="layout">
  <!--1. 태그를 form 안으로 묶기-->
  <form action="/post/writepro" method="post" enctype="multipart/form-data"> <!--4.제출된 정보(title, content)가 이 주소로 넘어감, enctype이미지를 위함 태그-->
    <input name="Date" type = "date">

    <input name = "Photographer" type = "text" placeholder="Photographer" > <!--2.name, content의 이름을 지정해주기-->

    <textarea name ="Caption" placeholder="Caption"></textarea>

    <input name = "snslink" type = "text" placeholder="snslink">

    <select name = "light" placeholder="light">
      <option value = "#FFFFFF">흰색</option>
      <option value = "#EF3131">빨간색</option>
      <option value = "#E59828">주황색</option>
      <option value = "#EAEF13">노란색</option>
      <option value = "#46D821">연두색</option>
      <option value = "#3CE1C4">민트색</option>
      <option value = "#1484EC">파란색</option>
      <option value = "#0B14EA">남색</option>
      <option value = "#8014D6">보라색</option>
      <option value = "#A021A3">자주색</option>
    </select>

    <input name = "file" type="file">

    <button type="submit">작성하기</button> <!--3.버튼을 submit할 경우, form 태그 안에 action주소로 넘어감.-->
  </form>
</div>

</body>
</html>